.app-layout.ant-layout {
  .app-logo {

    //display: none;
    &.app-logo-header {
      .logo-images {
        width: auto;
        height: 42px;
      }
    }

    &.app-logo-footer {
      .logo-images {
        width: auto;
        height: 42px;
      }
    }

    h1.title {

    }

    div.title {
      .title-top {
        @extend .F12M18;
        text-transform: uppercase;
        letter-spacing: 5px;
      }

      .title-bottom {
        @extend .F16SB24;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }

  }
}