.app-layout.ant-layout {
  .app-menu {

    .ant-menu {
      @extend .color-bg-inherit;
      border-inline-end: unset !important;
      border: none;

      &:after {
      }

      .ant-menu-item {
        height: auto;
        line-height: 1.5;

        &:hover {
          background: transparent;

          .ant-menu-title-content {
            color: $color-black;
            font-weight: 500;
          }

          &:after {
            border-color: transparent;
          }
        }

        .ant-menu-title-content {
          //color: $color-secondary;
          color: $color-black;
          font-weight: 500;
        }
      }

      .ant-menu-item-selected {
        color: $color-black;
        background: transparent;

        .ant-menu-title-content {
          color: $color-black;
        }
      }
    }

    &.app-menu-header {
      width: calc(100% - 118px);

      .ant-menu {
        display: flex;
        align-items: center;
        height: 40px;
        line-height: 40px;
        justify-content: end;

        .ant-menu-item {
          padding: 0 10px;

          &:after {
            border-color: $color-primary;
            border-width: 0;
          }
        }
      }
    }

    &.app-menu-footer {
      .ant-menu {
        font-size: 16px;

        .ant-menu-item {
          padding: 0;
          margin: 0;
          margin-bottom: 12px;

          &:hover {
            .ant-menu-title-content {
              color: $color-secondary;
              font-weight: 500;
            }
          }
        }

        .ant-menu-item-selected {
          color: $color-secondary;
          background: transparent;

          .ant-menu-title-content {
            color: $color-secondary;
          }
        }
      }
    }
  }
}
